<nav class="navbar">
  <div class="container-fluid justify-content-start">
        <div class="dropdown">
                      <button class="btn " data-bs-toggle="dropdown" type="button">
                        <img class="rounded-circle" src="{{ server_base }}/images/icon/squared-menu-96.png">
                    </button>
                    <ul class="dropdown-menu p-2 dropdown-menu-end sm-lego-dropdown" >
                        {% include ( "navbar_dropdown_item.html.twig" ) with {'item': 'Home', 'subdir' : ''} %}
                        <li><hr class="dropdown-divider"></li>
                        {% include ( "navbar_dropdown_item.html.twig" ) with {'item': 'Database', 'subdir' : 'DB'} %}
                    </ul>
        </div>

    {% include ( "navbar_brand_item.html.twig" ) with { 'item': 'add-row-144',
                                                        'item_path' : path('lego_add'),
                                                        'item_id' : 'sm-lego-navbar-link',
                                                        'item_title' : 'ADD' } %}

    {% include ( "navbar_brand_item.html.twig" ) with { 'item': 'edit-row-144',
                                                        'item_path' : '#',
                                                        'item_id' : 'sm-lego-navbar-link-edit-img',
                                                        'item_title' : 'EDIT' } %}

    {% include ( "navbar_brand_item.html.twig" ) with { 'item': 'delete-row-144',
                                                        'item_path' : '#',
                                                        'item_id' : 'sm-lego-navbar-link-delete-img',
                                                        'item_title' : 'DELETE' } %}


  </div>
</nav>