<nav class="navbar bg-body-tertiary">
  <form class="container-fluid justify-content-start">
    <a href='{{ path('homepage') }}'><img class="navbar-brand " src="{{ server_base }}/images/logo/Seestern.png" width="40px" height="48px"></img></a>
    <a href='{{ path('lego_add') }}'><button class="btn btn-success text-white me-2" type="button">ADD</button></a>
    <a href='{{ path('lego_update') }}'><button class="btn btn-info text-white me-2" type="button">UPDATE</button></a>
    <button class="btn btn-warning text-white me-2" type="button" onclick='Delete()'>DELETE</button>
  </form>
</nav>