
$sm-beige-color: rgb(233,214,184);
$sm-blue-color: rgba(15, 38, 243);
$sm-darkgrey-color: rgb(88,97,114);
$sm-green-color: rgb(140, 213, 11);
$sm-iceblue-color: rgb(87,134,180);
$sm-lightblue-color: rgb(113,187,198);
$sm-lightgrey-color: rgb(220,228,231);
$sm-orange-color: rgb(255,165,0);
$sm-red-color: rgb(227,67,41);
$sm-turquoise-color: rgb(13, 183, 191);
$sm-white-color: rgb(255, 255, 255);

$sm-beige-03-color: rgb(233,214,184, 0.3);
$sm-blue-03-color: rgb(15, 38, 243, 0.3);
$sm-darkgrey-03-color: rgb(88,97,114, 0.3);
$sm-green-03-color: rgb(140, 213, 11, 0.3);
$sm-iceblue-03-color: rgb(87,134,180, 0.3);
$sm-lightblue-03-color: rgb(113,187,198, 0.3);
$sm-lightgrey-03-color: rgb(220,228,231, 0.3);
$sm-orange-03-color: rgb(255,165,0, 0.3);
$sm-red-03-color: rgb(227,67,41, 0.3);
$sm-turquoise-03-color: rgb(13, 183, 191, 0.3);
$sm-white-03-color: rgb(255, 255, 255, 0.3);

$colors: ("beige": $sm-beige-color, "blue": $sm-blue-color, "darkgrey": $sm-darkgrey-color, "green": $sm-green-color,
          "iceblue": $sm-iceblue-color, "lightblue": $sm-lightblue-color, "lightgrey": $sm-lightgrey-color, 
          "orange": $sm-orange-color, "red": $sm-red-color, "turquoise": $sm-turquoise-color, "white": $sm-white-color);
$colors-03: ("beige": $sm-beige-03-color, "blue": $sm-blue-03-color, "darkgrey": $sm-darkgrey-03-color, "green": $sm-green-03-color,
          "iceblue": $sm-iceblue-03-color, "lightblue": $sm-lightblue-03-color, "lightgrey": $sm-lightgrey-03-color, 
          "orange": $sm-orange-03-color, "red": $sm-red-03-color,
          "turquoise": $sm-turquoise-03-color, "white": $sm-white-03-color);

:root {           
    @each $name, $color in $colors {
        --sm-#{$name}-color: #{$color};
    }
    --bs-breadcrumb-divider-color: var(--bs-warning);
    --bs-pagination-disabled-bg: rgb(113,187,198);
}
        
        
@each $name, $color in $colors {
    .text-#{$name} {
        color: $color;
    }
    .bg-#{$name} {
        background-color: $color;
    }
    .border-#{$name} {
        border-color: $color;
    }
}

@each $name, $color in $colors-03 {
    .text-03-#{$name} {
        color: $color;
    }
    .bg-03-#{$name} {
        background-color: $color;
    }
    .border-03-#{$name} {
        border-color: $color;
    }
}

