
$tt-html-font: "Montserrat";
$tt-html-font-size: 62,5%;
$tt-html-bg-color: white;
$tt-body-bg-color: white;

$tt-white-color: rgb(255, 255, 255);
$tt-white-03-color: rgb(255, 255, 255, 0.3);
$tt-roz-color: rgb(237, 0, 140);
$tt-roz-03-color: rgb(237, 0, 140, 0.3);
$tt-yellow-color: rgb(251, 201, 11);
$tt-yellow-03-color: rgb(251, 201, 11, 0.3);
$tt-darkgreen-color: rgb(2, 86, 94);
$tt-darkgreen-03-color: rgb(2, 86, 94, 0.3);
$tt-turquoise-color: rgb(13, 183, 191);
$tt-turquoise-03-color: rgb(13, 183, 191, 0.3);
$tt-green-color: rgb(140, 213, 11);
$tt-green-03-color: rgb(140, 213, 11, 0.3);
$tt-orange-color: rgb(252, 99, 3);
$tt-orange-03-color: rgb(252, 99, 3, 0.3);
$tt-bordeaux-color: rgb(162, 3, 82);
$tt-bordeaux-03-color: rgb(162, 3, 82, 0.3);

$colors: ("white": $tt-white-color, "roz": $tt-roz-color, "yellow": $tt-yellow-color, "darkgreen": $tt-darkgreen-color,
          "turquoise": $tt-turquoise-color, "green": $tt-green-color, "orange": $tt-orange-color,
          "bordeaux": $tt-bordeaux-color);
$colors-03: ("white": $tt-white-03-color, "roz": $tt-roz-03-color, "yellow": $tt-yellow-03-color, "darkgreen": $tt-darkgreen-03-color,
          "turquoise": $tt-turquoise-03-color, "green": $tt-green-03-color, "orange": $tt-orange-03-color,
          "bordeaux": $tt-bordeaux-03-color);

@each $name, $color in $colors {
    .text-#{$name} {
        color: $color;
    }
    .bg-#{$name} {
        background-color: $color;
    }
    .border-#{$name} {
        border-color: $color;
    }
}

@each $name, $color in $colors-03 {
    .text-03-#{$name} {
        color: $color;
    }
    .bg-03-#{$name} {
        background-color: $color;
    }
    .border-03-#{$name} {
        border-color: $color;
    }
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    line-height: normal;
    background-color: $tt-html-bg-color;
}


body {
    font-size: var(--tt-html-font-size);
    font-family: var(--tt-html-font);
    background-color: var(--tt-body-bg-color);
    color: $tt-roz-color;
    overscroll-behavior-x: none;
    font-weight: bolder;
    overflow: scroll;
}

.html-bg-color {
    background-color: $tt-html-bg-color;
}

.navbar-nav, .nav-item, .nav-link {
    color: $tt-roz-color;
}