@use '_colors';
@use '_fonts';
// @import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap';


$sm-html-font: fonts.$sm-montserrat-font;
$sm-html-bg-color: Aqua;

$sm-body-bg-color: MidnightBlue;
$sm-body-header-color: MidnightBlue;;
$sm-body-color: colors.$sm-lightblue-color;
$sm-body-font: fonts.$sm-montserrat-font;
// $sm-body-font-size: fonts.$sm-montserrat-font-size;

$sm-navbar-color: var(--bs-warning);

$sm-burgericon-color: var(--sm-iceblue-color);

$sm-breadcrumb-color: var(--bs-warning);

$sm-dataTables-length-color: colors.$sm-red-color;

// standard
* {
    margin: 0;
    padding: 0;
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    line-height: normal;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

body {
    overscroll-behavior-x: none;
    overflow: scroll;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    font-family: $sm-body-font;
    background-color: $sm-body-bg-color;
}
// ////////////
// HEADER
// ////////////
.sm-body-header-container {
    background-image: linear-gradient(to right, SeaShell, Aqua, SeaShell );
    color: $sm-body-header-color;
}

.sm-body-header-logo {
    max-width: 15%;
} 

.sm-body-header-flag {
    text-align-last: end;
    align-self: center;
}

.sm-body-header-flag-img {
    max-width: 7.5%;
}

@media screen and (max-width: 1024px) {
    .sm-body-header-logo {
        max-width: 50%;
    }
    .sm-body-header-flag-img {
        max-width: 40%;
    }
}

// ////////////
// NEWS
// ////////////
.sm-body-news-content {
    background-image: linear-gradient(45deg, var(--sm-green-color) 0%, var(--sm-turquoise-color) 100%)
}

@media screen and (max-width: 1024px) {
    .sm-body-news-content {
        font-size: 2rem;
    }
}
// ////////////
// NAVBAR
// ////////////
.navbar
{
    font-size: x-large;
}
.navbar-nav
{
    --bs-nav-link-hover-color: var(--sm-red-color);
    color: var(--bs-warning);
}

.sm-lego-brand {
    width: 96px;
    height: 96px;    
}

.sm-login-form i {
    display: flex;
    cursor: pointer;
}
// ////////////
// GALLERY
// ////////////
.sm-card-database-img {
    width: 100%;
    height: 8vw;    
}

.sm-card-subdomain-img {
    width: 70%;
    height: 8vw;
}

/* @media screen and (max-width: 1024px) {
    .sm-card-database-img  {
        width: 80%;
        height: 10vw;
    }
    .sm-card-subdomain-img  {
        width: 50%;
        height: 15vw;
    }
} 
   

@media screen and (max-width: 780px) {
        .sm-card-database-img  {
            width: 60%;
            height: 10vw;
        }
        .sm-card-subdomain-img  {
            width: 50%;
            height: 20vw;
        }
    }    

@media screen and (max-width: 576px) {
        .sm-card-database-img  {
            width: 60%;
            height: 10vw;
        }
        .sm-card-subdomain-img  {
            width: 50%;
            height: 20vw;
        }
    }    
 */
// ////////////
// LEGO
// ////////////

.sm-lego-table > thead {
    font-size: larger;
    color: var(--sm-white-color);
    background: var(--sm-iceblue-color);
}
.sm-lego-table > tbody {
    font-size: smaller;
    background: var(--sm-lightblue-color);
}

td .hover_img { position:relative; }
td .hover_img span { position:absolute; display:none; z-index:99; }
td:hover .hover_img  span { display:block; }

// .sm-lego-table tbody tr.selected {background-color: orange;}

.sm-gallery-card {
    background-color: white;
}

.sm-lego-table-search-form {
  display: flex;
  padding: 0;
  border: none;
  border-radius: 5px;
  margin: 0 0 20px;
}

input[type="search"] {
  border: none;
  background: white;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

input[type="search"]::placeholder {
    color: #bbb;
  }

input.nosubmit {
    width: 260px;
    border: 1px solid #555;
    display: block;
    padding: 9px 4px 9px 40px;
    background: white 
    var(--sm-search-icon) no-repeat 8px center;
    background-size: 24px
}
    
.list-icon {
    width: 32px;
    height: 32px;
    background: white 
    var(--sm-list-icon) no-repeat 0px center;
    background-size: 24px;
    display: block;

}
.chevron-down-icon {
    width: 32px;
    height: 32px;
    background: white 
    var(--sm-chevron-down-icon) no-repeat 0px center;    
    background-size: 24px;
    display: block;
}
#sm-list-menu, #sm-gallery-menu  {
    text-decoration: none;
}

.sm-table-dropdown, .sm-gallery-dropdown {
    text-align: end;
}
.sm-table-dropdown-ul, .sm-gallery-dropdown-ul {
    background-color: midnightblue;
}
.sm-table-dropdown-ul li a, .sm-gallery-dropdown-ul li a {
    color: var(--bs-info);
}

.required::after {
    content: ' *';
    color: orange;
}

.invalid-feedback {
    background-color: pink;
}

// #sm-body-lego-card-img {
//     width:auto;
//     height:auto;
// }

// ////////////
// BREADCRUMB
// ////////////
.breadcrumb-item > a {
    color: $sm-breadcrumb-color;
    text-decoration: none;
}
.breadcrumb-item + .breadcrumb-item:before {
    color: $sm-breadcrumb-color;
    padding-top: 18px;
}

.breadcrumb-item:hover {
    color: $sm-breadcrumb-color;
}

.breadcrumb-item.active {
    color: $sm-breadcrumb-color;
}

.input-group-text {
    background-color: $sm-breadcrumb-color;

}
