@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

:root {
    --sm-html-font: "Montserrat";
    --sm-html-font-size: 62,5%;
    --sm-html-bg-color: rgb(72, 167, 188);
    --sm-body-bg-color: white;
    --sm-body-color: rgba(15, 38, 243, 0.951);

    --sm-turquoise-color: rgb(13, 183, 191);
    --sm-green-color: rgb(140, 213, 11);


}
